html {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}
body {
  overflow-x: hidden !important;
  margin: 0;
  color: #000;
  background-color: #f8f8f8;
  background: auto;
  transition: 0.5s ease;
  transition-property: background, backdrop-filter, background-color, color;
}

/** Loading screen */
.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #4bedc2;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

main {
    z-index: -2;
    position: intial !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.panel {
  min-height: 75vh;
}
.color-mainblue {
  background-color: #414a6b;
  color: #fff !important;
  --color-link: #fff !important;
  --color-main: #fff !important;
}
.color-dark {
  background-color: #414a6b;
  color: #fff !important;
  --color-link: #fff !important;
  --color-main: #fff !important;
}
.color-green {
  background-color: #e3e2e7;
}
.color-yellow {
  background-color: #e3e2e7;
}
.color-orange {
  background-color: #e3e2e7;
}
.color-red {
  background-color: #e3e2e7;
}
.nav-menu-top {
  padding-top: 25px;
}
.navbar-toggler {
  display: none !important;
}
.navtitle {
  font-family: Poppins, serif;
  font-weight: 700;
  text-transform: lowercase;
  color: #414a6b !important;
  font-size: 1.75rem;
  position: relative;
  margin-top: 2%;
  vertical-align: text-top !important;
}
.nav-item .nav-link {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: transparent;
  padding-bottom: calc(1px * 2);
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}
.nav-item .nav-link:hover {
  color: #414a6b !important;
}
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: #000;
}
.fa-github {
  font-size: 1.5rem;
  vertical-align: middle !important;
}
@media (max-width: 480px) {
  .navresp {
    float: left !important;
    margin-left: -4vw !important;
    display: block !important;
  }
  .nav-link {
    float: left !important;
    width: 100vw !important;
    text-align: left !important;
    vertical-align: left !important;
    align-items: left !important;
    display: block !important;
  }
}
.continuous-5 {
  background: linear-gradient(#727da3 0 0) var(--d, 201%) 100%/200% 3px no-repeat;
}
.continuous-5:hover {
  --d: -101%;
  transition: 0.5s;
}
.navspacing {
  margin-right: 2rem;
}
@media (max-width: 425px) {
  .navresp {
    float: left !important;
    margin-left: -8vw !important;
    display: block !important;
  }
}
@media (max-width: 1920px) {
  .hero {
    padding-bottom: 6.25rem;
  }
  .text {
    margin-top: 8rem !important;
  }
}
@media (max-width: 1366px) {
  .hero {
    padding-bottom: 0;
    margin-bottom: 12rem;
  }
}
.text {
  font-family: Poppins, sans-serif;
  margin-top: 7rem;
  margin-left: 22.5vw;
  padding-bottom: 3.5rem;
  width: 55%;
  text-align: center;
}
p {
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
}
.textgrey {
  color: #646464 !important;
}
.prehook {
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #414a6b;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hook {
  font-family: Poppins, sans-serif;
  color: #1f222b;
  overflow: hidden;
  font-size: 2rem !important;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 540px) {
  .featheader {
    height: 8rem !important;
  }
}
.emphasis {
  display: inline;
  visibility: visible;
  font-family: "Libre Baskerville", serif;
  font-style: oblique;
  font-weight: 400;
  margin-left: 0.3rem;
}
.tdot {
  font-weight: 900;
  position: relative;
  margin-left: 0.3rem;
  color: #414a6b;
}
hr {
  max-width: 45px;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden !important;
    margin: 0;
  }
  .text {
    margin: 2rem 2rem auto 2rem !important;
    width: auto;
  }
}
@media (max-width: 380px) {
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.75rem;
  }
}
.textanim {
  transform: translate(0, 100%);
}
.reveal {
  display: block;
  animation: reveal 1.75s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;
  animation-delay: 1.4s;
}
@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.features-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
  width: 100% !important;
  margin: auto;
  padding-top: 1.6rem;
  padding-bottom: 6.625rem;
}
.featheader {
  font-family: Poppins, sans-serif;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: 800;
  margin: auto;
  text-align: center;
}
.featparagraph {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  font-size: 1.125rem;
  font-weight: 400;
  padding-top: 1.5rem;
  margin: auto;
  text-align: center;
  display: block;
  width: 50vw !important;
}
@media (max-width: 720px) {
  .featparagraph {
    width: 90vw !important;
  }
}
.feat-a {
  font-family: Lato, sans-serif;
  font-weight: 900;
  color: #414a6b;
  text-decoration: none;
  transition: color 0.3s ease;
}
.feat-a:hover {
  color: #959cb8;
  font-weight: 900;
  text-decoration: none;
}
.arrowm {
  font-size: 1.25rem;
  color: var(--color-link);
  display: inline;
  padding-left: 2px;
  transition: color 0.3s ease;
}
@media (max-width: 480px) {
  .arrowm {
    display: none;
  }
}
.feat-a:hover .arrowm {
  color: #959cb8;
}
.checksection {
  position: relative;
  left: 4.5vw;
  margin-top: 4rem;
}
.checkli {
  font-family: Lato, sans-serif;
  margin-bottom: 1.25rem;
}
ion-icon {
  vertical-align: bottom;
  font-size: 1.45rem;
  display: inline-block;
}
.checktext {
  margin-left: 0.6rem;
}
@media (max-width: 1280px) {
  .checksection {
    position: relative;
    left: 2.5vw;
  }
}
@media (max-width: 992px) {
  .othercol {
    display: grid;
    place-items: center;
  }
  .checksection {
    position: relative;
    left: -1vw;
  }
}
.maincontact {
  padding-top: 5rem;
}
.contactheader {
  margin-top: auto;
  font-family: Lato, serif;
  color: #f8f8f8;
  overflow: hidden;
  font-size: 1.25rem !important;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrap {
  width: 100%;
  height: auto;
  max-width: 768px;
  background-color: transparent;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
}
.quote {
  margin-top: 0;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 2rem !important;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-align: center;
  overflow: hidden;
}
.split-line {
  overflow: hidden;
}
.contactsoon {
  color: #727da3;
}
.wave {
  font-size: 18px;
  vertical-align: bottom;
  animation-delay: 3s;
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: 2;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
.svgarrow {
  margin-top: 5rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: bounce 1s ease infinite;
  animation: bounce 1s ease infinite;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.45em);
    transform: translateY(-0.45em);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-0.45em);
    transform: translateY(-0.45em);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.imgcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: left;
}
.reveal2 {
  visibility: hidden;
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 500px;
  overflow: hidden;
}
.currentproject {
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: #1b2735;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.projectdesc {
  font-family: Lato, sans-serif;
  color: #1b2735;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
